div.new-post
{
    display: block;
    float: left;
}

table.recent
{
    width: 900px
}

tr.recent
{
    margin-bottom: 30px;
}

div.draft-ts
{
    font-size: 8pt;
    display: inline;
}

table.blog-posts
{
    width: 800px;
}

td.picture-column
{
    display: block;
    margin-right: 10px;
    text-align: center;
}