<table class="blog-posts">
        <%unless @posts.nil?%>
          <% @posts.each do |post| %>
            <td>
              <tr><h2 class="post-title-list"><%= link_to post.title, post %></h2></tr><br/>
              <tr class="post-preview"><%= post.content[0, 500] %>...&nbsp;&nbsp;<%= link_to "read more", post %></tr>
            </td>
          <% end %>
        <%else%>
        <tr>
          <td class="post-preview"><i>There are no blog posts yet.</i></td>
        </tr>
      <% end %>
</table>